.bk{
    background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=2000");
}

.head{
    padding-top: 0.6cm;
    text-align: center;
    text-wrap:balance;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
}

.login
    {   
        position: absolute;
        top: 50%;
        width: 50%;
        left: 25%;
        overflow: auto;
        border: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /* width: 50%; */
        outline: none;
        background-color: #fff;
        border-radius: 13px;
        border: none;
        display: block;
        padding: .19rem .7rem;
        box-shadow: 17px 15px 15px 10px rgba(0.2, 0.2, 0.2, 0.2);
        font-size: 17px;
        color: #4a4a4a;
        text-indent: 45%;
      }

.btn{
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 3 auto;
  padding: .19rem 1.90rem;
  text-align: center;
  background-color: #47ab11;
  color: #fff;
  border-radius: 4px;
  box-shadow: 17px 15px 15px 10px rgba(0.2, 0.2, 0.2, 0.2);
  font-size: 17px;
}
button:hover{
    background-color: darkgreen;
}

input:hover{
    border-color: red;
}

.video{
        padding-left: 25%;
        padding-right: 25%;
}
table {
    padding-left: 35%;
    padding-right: 25%;
    border-collapse: separate;
    border-spacing: 0 15px;
  }

.td{
    width: 150px;
  text-align: center;
  border: 2px solid black;
  padding: 5px;
}

.btn2{
    float: right;
  outline: none;
  border: none;
  left: 25%;
  cursor: pointer;
  /* display: inline-block; */
  margin: 3 auto;
  padding: .19rem 1.90rem;
  text-align: center;
  background-color: #47ab11;
  color: #fff;
  border-radius: 4px;
  text-align: right;
  box-shadow: 0 3px 16px rgba(0,0,0,.16);
  font-size: 17px;
}


.text{
    text-wrap:balance;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

.des{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
    font-size: medium;
}